@font-face {
  font-family: Helvetica;
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Helvetica-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Helvetica;
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/helvetica_bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Helvetica;
  font-weight: 400;
  font-style: oblique;
  src: url("../fonts/helvetica_oblique.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: Helvetica, sans-serif, Arial;
  font-weight: 400;
  font-size: 26px;
  line-height: 25px;
  font-style: normal;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main-container {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

/* HEADER */

.navigation-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  max-width: 1266px;
  margin: 0 auto;
  min-height: 57px;
  align-items: center;
  padding-left: 10px;
  border-bottom: 5px solid black;
  margin-bottom: 50px;
}

.navigation-link {
  color: black;
  text-decoration: none;
}
.navigation-logo {
  font-weight: 400;
  font-size: 36px;
  line-height: 35px;
  margin-left: -10px;
}

.navigation-item:last-child {
  margin-right: 30px;
}
.main-container {
  width: 1276px;
  margin: 0 auto;
}

/* FOOTER */

.footer-container {
  display: flex;
  width: 1276px;
  margin: 0 auto;
  justify-content: space-between;
}

.contact-wrapper {
  min-width: 670px;
  border: 4px solid #000;
  border-right: 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.additional-info {
  border: 4px solid #000;
  border-right: 0;
  flex-grow: 1;
}

.contact-wrapper h3 {
  font-weight: 400;
  font-size: 48px;
  letter-spacing: -0.01em;
  font-style: oblique;
  padding: 28px 6px 24px;
  margin: 0;
}

.footer-navigation {
  display: flex;
  flex-direction: column;
  max-width: 140px;
  padding-left: 8px;
}

.footer-navigation a {
  display: flex;
  text-decoration: none;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: -0.01em;
  border-top: 4px solid #000;
  border-left: 4px solid #000;
  border-right: 4px solid #000;
  height: 32px;
  padding-left: 4px;
  color: black;
  align-items: center;
}

.profile-nav {
  border-bottom: 4px solid #000;
}

.contact-info {
  display: flex;
  flex-direction: column;
}

.contact-info span {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  padding-left: 9px;
}
.footer-contacts-phone {
  text-decoration: none;
  color: #000;
}

.footer-info-container {
  display: flex;
}

.tel-support {
  padding-top: 12px;
}
.mail {
  text-decoration: none;
  color: #000;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: -0.01em;
  padding: 0 0 0 12px;
  margin-top: 19px;
}

.social-container a {
  text-decoration: none;
}

.social-container {
  padding-left: 12px;
  padding-top: 4px;
  max-width: 107px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.additional-info h3 {
  font-weight: 400;
  font-size: 48px;
  letter-spacing: -0.01em;
  font-style: oblique;
  padding: 20px 0 13px 11px;
  margin: 0;
}
.additional-info span {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.01em;
}

.Yarik-data {
  display: flex;
  flex-direction: column;
  padding-left: 11px;
  padding-top: 13px;
}

/* MAIN */

.account-menu {
  display: flex;
  padding-bottom: 15px;
  border-bottom: 5px solid black;
  margin-bottom: 48px;
}

.username {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 26px;
  line-height: 23px;
}

.account-control-btn {
  text-decoration: none;
  color: #000;
  margin-left: 74px;
  font-weight: 400;
  font-size: 24px;
  line-height: 23px;
}

.account-control {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  padding-right: 27px;
}

.orders-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.orders-grid {
  display: flex;
  align-items: center;
  border: 4px solid black;
  justify-content: center;
}

.orders-nav {
  max-height: 190px;
  max-width: 88px;
  display: flex;
  flex-grow: 1;
  justify-content: start;
  cursor: pointer;
}

.order {
  height: 182px;
  width: 184px;
  border-right: 4px solid black;
  display: flex;
  flex-direction: column;
  padding: 12px;
  flex-shrink: 0;
  box-sizing: border-box;
}

.name-order {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: normal;
  margin-top: 4px;
}

.numb-order {
  font-weight: 400;
  font-size: 12px;
  line-height: normal;
}

.delivery-info {
  font-weight: 700;
  font-size: 16px;
  line-height: normal;
}

.order-active .order:first-child {
  border: 1px solid black;
  padding: 8px 6px;
  border-width: 4px 10px 4px 6px;
}

.carousel-list {
  overflow: hidden;
  display: flex;
  max-width: 1100px;
  align-items: center;
}

.orders-nav-left {
  border-right: 4px solid black;
  border-right: 4px solid black;
  padding: 76px 0px;
}

.orders-nav-right {
  border-left: 4px solid black;
  padding: 76px 0px;
}
.swafford {
  background-color: #fbe6dd;
}
.swafford-img {
  width: 156px;
  height: 158px;
  border-radius: 6px;
}
.order img {
  user-select: none;
}

.orders-info {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.01em;
  margin: 0 0 6px 0;
}
.active-orders {
  margin-bottom: 24px;
}
.archive-orders {
  margin-bottom: 24px;
}

.archive-nav-right {
  border: 0px solid black;
  border-width: 4px 4px 4px 8px;
  padding: 72px 0px;
  width: 38px;
  height: 182px;
  box-sizing: border-box;
}

.general {
  margin-bottom: 45px;
}

.link-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.general-link {
  flex-grow: 1;
  padding: 20px 258px;
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  color: black;
  border: 4px solid black;
}

.general-description {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.01em;
  margin: 0 0 6px 0;
}

.support-link {
  border-width: 8px 4px 8px 8px;
  padding: 15.5px 272px;
}
